:root {
    --rojo-tomate: #E03616;
    --amarillo-dorado: #f2b705;
    --bg-crema: #faf7f0;
    --txt-cafe: #4a3f35;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*body {
    margin: 0px;
    background-color: var(--bg-crema);
    background-image: url('../images/pizzaFondo.png');
    background-repeat: repeat;
    background-size: 200px;
    color: var(--txt-cafe);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}*/
body {
    margin: 0px;
    color: var(--txt-cafe);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden; /* Esto es perfecto, cortará el fondo que rote */

    /* --- Añadido para posicionar el fondo --- */
    position: relative;
    z-index: 1; /* Asegura que el formulario esté sobre el fondo */

    /* --- Todas estas líneas de abajo se MUEVEN al ::before --- */
    /* background-color: var(--bg-crema); */
    /* background-image: url('../images/pizzaFondo.png'); */
    /* background-repeat: repeat; */
    /* background-size: 200px; */
}
body::before {
    content: ''; /* Obligatorio para que ::before exista */
    position: absolute; /* Se posiciona relativo al body */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Lo manda detrás del contenido del body (el formulario) */

    /* --- Todas las propiedades de fondo van aquí --- */
    background-color: var(--bg-crema);
    background-image: url('../images/pizzaFondo.png');
    /*background-repeat: repeat 100;*/
    background-size: 200px;
    
    /* --- ¡Aquí está la magia! --- */
    /* Gira el fondo 10 grados Y lo escala un poco */
    transform: rotate(20deg) scale(1.6);
}

.containerForm {
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background-color: var(--bg-crema);
    box-shadow: 6px 6px 12px #ccc4b4, -6px -6px 12px #ffffff;
}

.containerForm .logoPizza {
    width: 120px;
    height: 120px;
    margin-bottom: 5px;
}

.btnIngresar {
    background-color: var(--rojo-tomate);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

